    /*
    Flaticon icon font: Flaticon
    Creation date: 28/03/2016 00:33
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-commerce:before { content: "\f100"; }
.flaticon-drink:before { content: "\f101"; }
.flaticon-internet:before { content: "\f102"; }
.flaticon-medical:before { content: "\f103"; }
.flaticon-money:before { content: "\f104"; }
.flaticon-people:before { content: "\f105"; }
.flaticon-signs:before { content: "\f106"; }
.flaticon-signs-1:before { content: "\f107"; }
.flaticon-transport:before { content: "\f108"; }
    
    $font-Flaticon-commerce: "\f100";
    $font-Flaticon-drink: "\f101";
    $font-Flaticon-internet: "\f102";
    $font-Flaticon-medical: "\f103";
    $font-Flaticon-money: "\f104";
    $font-Flaticon-people: "\f105";
    $font-Flaticon-signs: "\f106";
    $font-Flaticon-signs-1: "\f107";
    $font-Flaticon-transport: "\f108";