.counties {
	fill: none;
}

.states {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.d3-tip {
	line-height: 1.5;
	padding: 8px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 0px;
	text-align: center;
}

.counties {
	fill: none;

	stroke-linejoin: round;
}

body, html {
	height: 100%
}


/*
BarChart CSS
http://bl.ocks.org/Caged/6476579
https://bl.ocks.org/mbostock/3885304
*/
/*.bar {
	fill: steelblue;
}
*/

.bar:hover {
	fill: rgba(0,0,0,0.8);
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.bc-d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}

/* Creates a small triangle extender for the tooltip */
.bc-d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 9px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.bc-d3-tip.n:after {
	margin: -2px 0 0 0;
	top: 100%;
	left: 0;
}

.selectric-wrapper{
	display: inline-block;
	width: 90%;
}


#lwcContainer svg {
	border-right-style: double;
	border-color: lightgrey;
	border-width: 2px;
	width: inherit;
	height: inherit;
}

#calculator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

#lwcContainer {
	width: 100%;
	height: 100%;
}

#lwcContainer > div {
	width: 100%;
	height: 100%;
}

.dataArea{
	flex-grow: 10;
	flex-basis: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	margin: 0px;
	overflow: hidden;
	font-family: Arial;
	font-size: 16px;
}

#dataContainer {
	min-width: 325px;
	margin-left: 15px;
	
	height: 100%;
	display: flex; 
	flex-direction: column;
	flex-shrink: 0;
	flex-basis: auto;
}

.fakeMargin {
	height: 15px;
}

#countyNameContainer {
	text-align: center;
	font-weight: bold;

	margin-top: 20px;
}

#countyName {
	font-size: larger;
	margin-bottom: 20px;
}

#chartName{
	color: grey;
}

.fakeButton {
	width: 16px;
	cursor: pointer;

	position: relative;
	top: -5px;

	opacity: 0.8;
    filter: alpha(opacity=80); /* msie */
}

.disabledButton {
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.x.axis {
	font-family: Flaticon;
	font-size: larger;
	/*fill: grey;*/
	cursor: default;
}

.hidden{
	display: none !important;
}

.initialholder > span {
	margin-right: 15px;
	display: inline-block;
}

#compareToDiv {
	font-size: larger;
	font-weight: bold;

	margin-top: 20px;
}

.ttCounty {
	font-weight: bold;
	margin-bottom: 8px;
	display: inline-block;
}

.ttFirst {
	margin-bottom: 8px;
	display: inline-block;
}

.ttDiffLW {
	margin-bottom: 8px;
	display: inline-block;
}