.counties {
	fill: none;
}

.states {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
}

.d3-tip {
	line-height: 1.5;
	padding: 8px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 0px;
	text-align: center;
}

.counties {
	fill: none;

	stroke-linejoin: round;
}

.counties > path:hover {
	stroke-width: 1;
	stroke: black;
}

body, html {
	height: 100%
}


/*
BarChart CSS
http://bl.ocks.org/Caged/6476579
https://bl.ocks.org/mbostock/3885304
*/
.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.bc-d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.bc-d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.bc-d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}


#lwcContainer svg {
	border-right-style: double;
	border-color: lightgrey;
	border-width: 2px;
	width: inherit;
	height: inherit;
}

#calculator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

#lwcContainer {
	width: 100%;
	height: 100%;
}

#lwcContainer > div {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	overflow: hidden;
}

#dataContainer {
	min-width: 325px;
	margin: 25px;
}

#countyNameContainer {
	text-align: center;
	font-weight: bold;

	margin-top: 20px;
}

#countyName {
	font-size: larger;
	margin-bottom: 20px;
}

#chartName{
	color: grey;
}

#costChart .x.axis {
	font-family: Flaticon;
	font-size: larger;
	fill: grey;
	cursor: default;
}

.hidden{
	display: none;
}

#initialBarchartHolder > span {
	width: 300px;
	height: 584px;
	display: table-cell;
	vertical-align: middle;
	text-align: center
}